/**QUIZ FORM**/
/**quiz container**/
#quiz {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding-bottom:50px;
    background-color: #989292;
}

.quiz-home-icon {
    position:absolute;
    top:30px;
    right:30px;
    width: 65px;
    height:65px;
    background: url(../../media/images/quiz-home-icon.webp);
    /**<a href="https://www.freepik.com/vectors/icons">Icons vector created by rawpixel.com - www.freepik.com</a>**/
    background-position: center;
    background-repeat: no-repeat;
    background-size:100%;
    cursor:pointer;
}

.quiz-home-title {
    position: absolute;
    bottom: -25px;
    left: 10px;
    color: #fff;
}

/**questions container**/
.questions {
    background-color: #3d3d3d;
    color:#f4f4f4;
    font-size:150%;
    border-radius:10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin:50px 50px 0 50px;
    width:50%;
}

.question {
    background-color: #db0404;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding:30px;
    display:flex;
    align-items: center;
    justify-content: start;
}

.q-number {
    min-width:50px;
    min-height:50px;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    color:#3d3d3d;
    border:2px solid #3d3d3d;
}

.question h4 {
    margin-left:10px;
}

.answers {
    padding:15px 30px 30px 30px;
}

input[type="radio"] {
    margin:20px 5px 0 0;
    transform: scale(1.8);
}

/**submission button**/
.quiz-btn {
    margin-top: 50px;
    padding:15px;
    font-size:150%;
    font-weight: bold;
    cursor:pointer;
    border:2px solid #3d3d3d;
    background-color: #db0404;
    color:#f4f4f4;
    box-shadow: 2px 2px 2px #3d3d3d;
    border-radius: 10px;
    width:50%;
}

.quiz-btn:focus {
    outline: none;
}

.quiz-btn:hover {
    transform: scale(1.1);
}

/**QUIZ MODAL**/
/**quiz modal container**/
.quiz-modal-container {
    display:none;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,0.5);
    z-index:3000;
}

.quiz-modal-container.show-result {
    display:block;
}

/**quiz modal**/
.quiz-modal {
    position:absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width:100%;
    width:47%;
    background-color: #fff;
    border-radius:10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding:30px;
    animation-name:modalopen;
    animation-duration:0.5s;
}

.close-btn {
    position: absolute;
    top:0;
    right: 10px;
    background: transparent;
    color:#db0404;
    font-size:250%;
    padding:10px;
    border:none;
    cursor:pointer;
}

.close-btn:focus {
    outline:none;
}

.modal-content {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quiz-modal h3 {
    font-size:260%;
    padding-top:40px;
    text-align: center;
}

.quiz-modal img {
    width:35%;
    height:35%;
    border-radius:50%;
}

@keyframes modalopen {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

/**MEDIA QUERIES**/
@media (max-width:1000px) {
    .questions {
        font-size:1em;
    }
}

@media (max-width:770px) {
    .questions {
        font-size:0.9em;
    }
    .q-number {
        min-width:40px;
        min-height:40px;
    }
    .quiz-modal h3 {
        font-size: 195%;
    }
}

@media (max-width:620px) {
    .questions {
        font-size:0.8em;
    }
    .quiz-modal h3 {
        font-size: 130%;
        padding-top:15px;
    }
    .close-btn {
        font-size:160%;
    }
}

@media (max-width:550px) {
    .question {
        flex-direction: column;
        padding:15px;
    }
    .question h4 {
        margin-top:10px;
    }
    .quiz-btn {
        font-size:1em;
    }
    .quiz-home-icon {
        width: 50px;
        height: 50px;
    }
    .quiz-home-title {
        font-size: 0.8em;
        bottom: -20px;
        left: 8px;
    }
}

@media (max-width:480px) {
    .quiz-modal h3 {
        font-size: 100%;
    }
    .quiz-home-icon {
        width: 40px;
        height: 40px;
    }
    .quiz-home-title {
        font-size: 0.7em;
        bottom: -17px;
        left: 5px;
    }
}

@media (max-width:370px) {
    .quiz-btn {
        font-size:0.9em;
    }
    .quiz-modal h3 {
        font-size: 70%;
        padding-top: 5px;
    }
    .close-btn {
        font-size:120%;
        right:2px;
    }
    .quiz-home-icon {
        top: 20px;
        right: 20px;
    }
}

@media (max-width:350px) {
    .quiz-btn {
        font-size:0.8em;
    }
}
